.popup__input {
  max-width: 358px;
  width: 100%;
  min-height: 27px;
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #000;
}

@media screen and (max-width: 580px) {
  .popup__input {
    max-width: 238px;
  }
}
