.popup-profile__create {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 358px;
  min-height: 50px;
  align-self: center;
  border-radius: 2px;
  border: 0;
  background-color: #000;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  color: #fff;
}

.popup-profile__create:hover {
  opacity: 80%;
}

.popup-profile__create:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(31, 135, 199);
}

.popup-profile__create:active {
  background-color: rgb(6, 11, 79);
}

@media screen and (max-width: 580px) {
  .popup-profile__create {
    max-width: 238px;
    min-height: 46px;
    line-height: 17px;
    font-size: 14px;
  }
}
