.elements {
  margin: 51px auto 67px;
  padding: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  column-gap: 17px;
  grid-auto-rows: repeat(auto-fill, minmax(min-content, max-content));
  row-gap: 20px;
}
