.profile__icon-button {
  display: block;
  margin: 0;
  padding: 0;
  grid-row: 1;
  grid-column: 2;
  border-radius: 0;
}

.profile__icon-button:hover {
  opacity: 60%;
  background-blend-mode: overlay;
}

.profile__icon-button:focus {
  outline: none;
  border: 2px solid rgb(31, 135, 199);
}

.profile__icon-button:active {
  background-color: rgb(6, 11, 79);
}

@media screen and (max-width: 320px) {
  .profile__icon-button {
    width: 18px;
  }
}
