.popup__close {
  margin: 0;
  padding: 0;
  width: 32px;
  min-height: 32px;
  position: relative;
  right: -40px;
  top: -40px;
  border: 0;
  border-radius: 0;
  background: none;
  background-image: url(../../../images/Close-Icon.png);
  background-size: contain;
  background-position: center;
  align-self: flex-end;
}

.popup__close:hover {
  opacity: 60%;
  background-blend-mode: overlay;
}

@media screen and (max-width: 580px) {
  .popup__close {
    width: 20px;
    min-height: 20px;
    right: 0px;
    top: -36px;
  }
}
