.popup__close {
  display: block;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: none;
  background-image: url(../../../images/Close-Icon.png);
  background-size: contain;
}

.popup__close:hover {
  opacity: 60%;
  background-blend-mode: overlay;
}

@media screen and (max-width: 580px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0px;
    top: -36px;
  }
}
