.popup__input_name {
  margin: 0 36px 30px;
}

@media screen and (max-width: 580px) {
  .popup__input_name {
    margin: 0 22px 30px;
  }
}

.popup__input_name::placeholder {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 170px;
  letter-spacing: 0em;
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
}

.popup__input_name:focus {
  border: 0;
  border-radius: 0;
  outline: 0;
  border-bottom: 1px solid #000;
}
