.popup__title_disabled {
  font-family: inherit;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 0 64px 54px 36px;
  padding: 0;
  text-align: left;
  color: grey;
}

@media screen and (max-width: 580px) {
  .popup__title_disabled {
    width: 238px;
    line-height: 22px;
    font-size: 18px;
    margin: 0 22px 60px;
    text-align: center;
  }
}
