.footer {
  margin: 0 auto 60px;
  padding: 0;
  max-width: 880px;
  width: 100%;
  display: flex;
}

@media screen and (max-width: 888px) {
  .footer {
    max-width: 580px;
    margin: 0 auto 36px;
  }
}

@media screen and (max-width: 580px) {
  .footer {
    max-width: 282px;
  }
}
