.popup-profile__input {
  max-width: 358px;
  width: 100%;
  min-height: 27px;
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #c4c4c4;
  color: #c4c4c4;
}

@media screen and (max-width: 580px) {
  .popup-profile__input {
    max-width: 238px;
  }
}

.popup-profile__input:valid {
  color: black;
  border-bottom: 1px solid black;
}

.popup-profile__input:active {
  border: 0;
  outline: 0;
}

.popup-profile__input::placeholder {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 170px;
  letter-spacing: 0em;
  color: #c4c4c4;
  border: 0;
}

.popup-profile__input:focus {
  border-radius: 0;
  outline: 0;
  border: 0;
}
